root = true

# 全般的な設定
[*]
charset = utf-8
end_of_line = lf
insert_final_newline = true
trim_trailing_whitespace = true
indent_style = space
indent_size = 2

# Java: Google Java Style
# https://google.github.io/styleguide/javaguide.html
[*.java]
indent_style = space
indent_size = 2
tab_width = 2
continuation_indent_size = 4
max_line_length = 100

# Gradle / Groovy
[*.{gradle,groovy}]
indent_style = space
indent_size = 4
tab_width = 4

# XML
[*.xml]
indent_style = space
indent_size = 2

# YAML
[*.{yaml,yml}]
indent_style = space
indent_size = 2

# SQL
[*.sql]
indent_style = space
indent_size = 4

# Markdown
[*.md]
trim_trailing_whitespace = false
