spring:
  application:
    name: spring-boot-app
  profiles:
    active: dev
  datasource:
    driver-class-name: org.postgresql.Driver
    hikari:
      pool-name: SpringHikariCP
      maximum-pool-size: 10
      minimum-idle: 10
      connection-timeout: 30000
      idle-timeout: 600000
      max-lifetime: 1800000
      connection-test-query: SELECT 1
      validation-timeout: 5000
      keepalive-time: 30000
  flyway:
    enabled: true
    locations: classpath:db/migration

management:
  endpoints:
    web:
      exposure:
        include: health, info, prometheus
  endpoint:
    health:
      show-details: always
    prometheus:
      enabled: true

mybatis:
  type-handlers-package: com.example.samplebootapp.infrastructure.product.datasource.typehandler
  configuration:
    map-underscore-to-camel-case: true

---
spring:
  config:
    activate:
      on-profile: dev
  datasource:
    url: jdbc:postgresql://localhost:5432/sampleapp
    username: sampleapp
    password: password
logging:
  level:
    root: INFO
    com.example.samplebootapp: DEBUG

---
spring:
  config:
    activate:
      on-profile: prod
  datasource:
    url: ${SPRING_DATASOURCE_URL}
    username: ${SPRING_DATASOURCE_USERNAME}
    password: ${SPRING_DATASOURCE_PASSWORD}
