spring:
  datasource:
    url: jdbc:postgresql://localhost:5432/sampleapp
    username: sampleapp
    password: password
    driver-class-name: org.postgresql.Driver
  flyway:
    enabled: true
    locations: classpath:db/migration
    clean-disabled: false
logging:
  level:
    org.flywaydb: DEBUG
    org.springframework.jdbc: DEBUG
